extends layout 
block content 

    h2 #{brand}
    ol 
        each instrument in instruments
            p #[strong Type] #{instrument.type}
            p #[strong Category] #{instrument.category}
            p #[strong Model] #{instrument.model}
            p #[strong Brand] #{instrument.brand}
            p #[strong Kind] #{instrument.kind}
            p #[strong Shop] #[a(href=`/shops/${instrument.shop.id}`) #{instrument.shop.name}]
            hr