extends layout 
block content 
    h2 Filtered Instruments

    ol 
        each instrument in instruments 
            li 
                p #[strong type]     #{instrument.type}
                

                p #[strong category] #{instrument.category}
                p #[strong model]    #{instrument.model}
                p #[strong brand]    #[a(href=`/brands/${instrument.brand}`) #{instrument.brand}]
                p #[strong kind]     #{instrument.kind}
                p #[strong shop]     #[a(href=`/shops/${instrument.shop.name}`) #{instrument.shop.name}]

                form(action=`/instruments/instrument/${instrument.id}`)
                    input(type="submit" value="Go instrument")

                hr