extends layout 
block content 

    ol
        p #[strong type]     #{instrument.type}
        p #[strong brand]    #{instrument.brand}
        p #[strong category] #{instrument.category}
        p #[strong model]    #{instrument.model}
        p #[strong kind]     #{instrument.kind}
        p #[strong shop]    #[a(href=`/shops/${instrument.shop.name}`) #{instrument.shop.name}]

        button Buy
            
                
