extends layout 
block content 
    h2 #{shop.name}

    ol 
        each instrument in shop.instruments
            li 
                p #[strong type]     #{instrument.type}
                p #[strong brand]    #[a(href=`/brands/${instrument.brand}`) #{instrument.brand}]
                p #[strong category] #{instrument.category}
                p #[strong model]    #{instrument.model}
                p #[strong kind]     #{instrument.kind}
                form(action=`/instrument/${instrument.id}`)
                    input(type="submit" value="Browse Instrument")
                hr